p
{color:red;
font size: 50px;
text-align:center;
}

	.hidden-links{
		text-decoration:none;
		color:#536482;
  }
#first-paragraph {
  font-family: helvetica,sans-serif;
font-size: 16px;
color:blue;
}
